<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sourcePath" value="D:\\Programming\\Lua\\fangirl\\src"/>
    <add key="buildPath" value="D:\\Programming\\Lua\\fangirl\\bin" />
    <add key="buildName" value="Fangirls"/>
    <add key="loveLibPath" value="C:\\Program Files\\LOVE"/>
  </appSettings>
</configuration>