<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Your project's source and assets directory, which will be monitored for changes -->
    <add key="sourcePath" value=""/>
    <!-- Where the build artifacts will be placed -->
    <add key="buildPath" value="" />
    <!-- The name to use for the builds created -->
    <add key="buildName" value=""/>
    <!-- Where the LOVE SDK is installed on your machine -->
    <add key="loveLibPath" value="C:\\Program Files\\LOVE"/>
    <!-- Set to true to append auto-incremented build numbers to build file names -->
    <add key="useBuildNumber" value="false" />
    <!-- The starting value for build numbers; will be auto-incremented by the application -->
    <add key="buildNumber" value="0"/>
    <!-- Comma-separated values of platform targets to create builds for (only Windows supported for now) -->
    <add key="buildTargets" value="windows"/>
  </appSettings>
</configuration>